rigth-point{
	height: 20px;
	width: 20px;
	position: absolute;
	left: -10px;
	z-index: 2;
	align-self: center;
	.bg{
		background-color: green;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}