// http://ionicframework.com/docs/themi.ng/
.drow-space {
  position: absolute;
  top: 0;
  left: 0;
}
item{
  position: absolute;
  width: 80px;
  height: 10px;
}
.item {
  background-color: greenyellow;
  border: 1px solid green;
  border-radius: 30%;
  padding: 2.5px;
  contain: none;
}
.notitem{
  background-color: white;
 // border: 1px solid green;
  border-radius: 30%;
  padding: 2.5px;
 
}


.line {
  background-color: grey;
  width: 70px;
  height: 2.5px;
  margin: 0;
  
}

.svg-item{
  position: absolute;
  opacity: 0.5;
  &.over{
    opacity: 1;
  }
}
.svg-vis{
  display: block;
}
.svg-unvis{
  display: none;
}

.transformer{
  transform: scaleY(-1);
}

.right-side {
  position: absolute;
  right: -2px;
  top: -4px;
}

.left-side {
  position: absolute;
  left: -2px;
  top: -4px;
}

.circle-selected {
  height: 15px;
  width: 15px;
  background-color: greenyellow;
  border-radius: 50%;
}
.circle-unselected{
  height: 15px;
  width: 15px;
  opacity: 0.0;
  border-radius: 50%;
}
.vis{
  display: block;
  position: absolute;
  left: -40px;
  width: 165px;
  height: 156px;
  top: -156px;
}
.unvis{
  display: none;
}
